<div class="row bio" >
  <div class="picture">
    <%= image_tag 'headshot', class: 'img-responsive' %>
  </div>

  <div class="text">
    <h3>Christopher Bateson</h3>

    <div class='bio-info'>
      <h1>Full Stack Developer. Hungry for Learning, Walker of trails, and Fun.</h1>
      <h5>
        Chicago-based full stack developer at The Difference Engine, actively seeking new opportunities. In July 2017 I graduated from Actualize and am currently improviing his skills in Ruby on Rails, Javascript, React, and Swift iOS Development. Hit me up!
      </h5>
    </div>

    <div class="bio-links">
      <h6><a href="#">My Portfolio</a></h6>
      <h6><a href="#">Github</a></h6>
      <h6><a href="mailto:cpbateson@gmail.com">Contact Me</a></h6>
    </div>
  </div>
</div>

<div class="on-the-dot">
  <div class="dot-text">
    <div class='title'>
      <h1>On the Dot.</h1>
      <p>Employee Scheduling App</p>
    </div>

    <p>This is a blurb about On the Dot</p>

    <ul class="keywords">
      <li>Ruby on Rails</li>
      <li>PostgreSQL</li>
      <li>Vue.js</li>
      <li>D3.js</li>
      <li>Bootstrap</li>
      <li>HTML5</li>
      <li>CSS3</li>
    </ul>
  </div>

  <div class="dot-images">

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
           <%= image_tag 'dot-profile', class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
           <%= image_tag 'dot-calendar', class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
           <%= image_tag 'dot-bar-graph', class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
           <%= image_tag 'dot-bubble-chart', class: 'd-block w-100' %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</div>

