<div class="row bio" >
  <div class="picture col-md-6 col-sm-12">
    <%= image_tag 'headshot.jpg', class: 'img-responsive' %>
  </div>

  <div class="text col-md-6 col-sm-12">
    <h3>Christopher Bateson</h3>

    <div class='bio-info '>
      <h1>Full Stack Developer. Hunger for Learning, Walker of Trails, and Singer of Songs.</h1>
      <h5>
        Chicago-based full stack developer at The Difference Engine, actively seeking new opportunities. In July 2017 I graduated from Actualize and am currently improving my skills in Ruby on Rails, Javascript, and React. Hit me up!
      </h5>
    </div>

    <div class="bio-links">
      <h6><a href="#portfolio">My Portfolio</a></h6>
      <h6><%= link_to 'Github', 'https://github.com/c-Nosetab', target: '_blank' %></h6>
      <h6><a href="mailto:cpbateson@gmail.com">Contact Me</a></h6>
    </div>
  </div>
</div>

<div class="on-the-dot row projects" id="portfolio">
  <div class="dot-text col-md-6 col-sm-12 proj-text">
    <div class='title'>
      <h1>On the Dot.</h1>
      <p>Employee Scheduling App</p>
    </div>

    <p class="description">
      On the Dot. allows you to schedule employees with ease. I was inspired to create this app after years of using overly complicated and feature heavy apps that only served to confuse their consumers. By simplifying the aspects of scheduling, my appllication allows for quick comprehension, and easy on-boarding. Never again will employees forget their schedules. And using the supplied analytics, you will always be up to date on your current needs. You can see the app in its current form <a href="https://on-the-dot.herokuapp.com/" target="_blank">HERE</a>!
    </p>

    <ul class="keywords">
      <li>Ruby on Rails</li>
      <li>PostgreSQL</li>
      <li>JavaScript</li>
      <li>jQuery</li>
      <li>Vue.js</li>
      <li>D3.js</li>
      <li>Bootstrap</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>AWS</li>
    </ul>
  </div>

  <div class="dot-images col-md-6 col-sm-12 images">

    <div id="dot-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
           <%= image_tag 'dot-profile.png', class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
           <%= image_tag 'dot-calendar.png', class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
           <%= image_tag 'dot-bar-graph.png', class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
           <%= image_tag 'dot-bubble-chart.png', class: 'd-block w-100' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="vet-work row projects">
  <div class="col-md-6 col-sm-12 images">
    <div id="vet-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
           <%= image_tag 'vet-mainpage.png', class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
           <%= image_tag 'vet-logo-black.png', class: 'd-block w-100' %>
        </div>
        <div class="carousel-item">
           <%= image_tag 'diff-logo2.png', class: 'd-block w-100' %>
        </div>
      </div>
    </div>
  </div>

  <div class=" col-md-6 col-sm-12 proj-text">
    <div class="title">
      <h1>Veterans Work</h1>
      <p class="description">Full Stack Developer</p>
    </div>

      <p>The Difference Engine's mission to to provide non-profit organizations MVP apps for free, allowing the companies better outlets for outreach and support in their community. The majority of the company is made up of new developers looking to grow their skills to enter the general workforce as a Dev. Currently my team is working on Veterans Work, an app dedicated to connecting local veteran-owned companies with with consumers to get work done!</p>
    <ul class="keywords">
      <li>Ruby on Rails</li>
      <li>PostgreSQL</li>
      <li>JavaScript</li>
      <li>React</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Tdd/CI</li>
      <li>Agile</li>
      <li>Pair Programming</li>
    </ul>
  </div>
</div>


<div class="look-at-me col-xs-12">
  <h1>Check me out!</h1>

  <ul class="pictures">
    <li><%= image_tag 'cbex.jpg' %></li>
    <li><%= image_tag 'nature.jpg' %></li>
    <li><%= image_tag 'microphone.jpg' %></li>
    <li><%= image_tag 'leg-blonde.jpg' %></li>
    <li><%= image_tag 'redrocks.jpg' %></li>
    <li><%= image_tag 'bfest.jpg' %></li>
  </ul>

</div>

<div class="social col-xs-12">
  <ul>
    <li id="github"><%= link_to 'Github', 'https://github.com/c-Nosetab', target: '_blank' %></li>
    <li id="linkedin"><%= link_to 'LinkedIn', 'https://www.linkedin.com/in/christopher-bateson/', target: '_blank'  %></li>
    <li id="twtter"><%= link_to 'Twitter', 'https://twitter.com/c_Nosetab', target: '_blank'  %></li>
    <li id="email"><%= link_to 'Reach Out!', 'mailto:cpbateson@gmail.com'  %></li>
  </ul>

  <p>© Christopher Bateson</p>
</div>